

  <h1>Super Kitty Cat Rainbow Lazors</h1>
  <!-- <h1><strong>{{titlea}}</strong> {{titleb}}</h1> -->

    {{#if heart}}
     <div class="heart"><p>heart</p></div>
    {{/if}}

    {{#if buttons}}
      {{#buttons}}
        <div>
          <a id="{{id}}" class="button {{class}}"
          {{#if data}}
            {{#data}}
              data-{{name}}="{{value}}"
            {{/data}}
          {{/if}}
          ><span>{{title}}</span></a>
        </div>
      {{/buttons}}
    {{/if}}
