

  <p>hello i am a template</p>
  <!-- <h1><strong>{{titlea}}</strong> {{titleb}}</h1>

  <div class="pt-triggers">
    {{#if buttons}}
      {{#buttons}}
        <button id="{{id}}" class="pt-touch-button {{class}}"
        {{#if data}}
          {{#data}}
            data-{{name}}="{{value}}"
          {{/data}}
        {{/if}}
        >{{title}}</button>
      {{/buttons}}
    {{/if}}

  </div> -->
